body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/misc/bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0rem;
}

figure {
    margin: 0rem;
}