$main-font-color: #444444;

$main-border-color: #CCCCCC;

$tracker-checked: hsl(140, 50%, 80%);
$tracker-checked-hover: hsl(140, 50%, 85%);

$fish-text: hsl(200, 20%, 25%);
$fish-bg: hsl(200, 100%, 92%);
$fish-bg-hover: hsl(200, 100%, 93%);
$fish-border: hsl(200, 40%, 70%);

$crop-text: hsl(140, 20%, 25%);
$crop-bg: hsl(140, 100%, 92%);
$crop-bg-hover: hsl(140, 100%, 93%);
$crop-border: hsl(140, 40%, 70%);

$npc-text: hsl(65, 20%, 25%);
$npc-bg: hsl(65, 100%, 92%);
$npc-bg-hover: hsl(65, 100%, 93%);
$npc-border: hsl(65, 40%, 70%);