$main-font-color: #444444;

$main-border-color: #CCCCCC;

$tracker-checked: hsl(140, 50%, 80%);
$tracker-checked-hover: hsl(140, 50%, 85%);

$loading-bar: hsl(140, 70%, 60%);

$fish-text: hsl(200, 20%, 25%);
$fish-bg: hsl(200, 100%, 92%);
$fish-border: hsl(200, 40%, 70%);
$fish-card-bg: hsl(200, 100%, 87%);
$fish-card-hover: hsl(200, 100%, 90%);
$fish-table-bg: hsl(200, 100%, 90%);
$fish-table-item-hover: hsl(200, 100%, 87%);

$crops-text: hsl(150, 20%, 25%);
$crops-bg: hsl(150, 100%, 92%);
$crops-border: hsl(150, 40%, 70%);
$crops-card-bg: hsl(150, 100%, 87%);
$crops-card-hover: hsl(150, 100%, 90%);
$crops-table-bg: hsl(150, 100%, 90%);
$crops-table-item-hover: hsl(150, 100%, 87%);