a, a:visited {
    color: hsl(210, 75%, 50%);
    cursor: pointer;
    transition: color 250ms ease-in-out;
    text-decoration: none;

    &:hover, &:active {
        color: hsl(210, 80%, 65%);
    }
}

#reset-tracker-holder {
    display: flex;
    justify-content: center;

    a {
        font-weight: 500;
    }
}