@use "../utils/variables";

table {
    border-spacing: 0;
    border-radius: 1rem;

    tr {
        cursor: pointer;
        transition: background-color 150ms ease-in-out;
        height: 5rem;

        &.checked {
            background-color: variables.$tracker-checked;
        }

        &:hover, &:active {
            &.checked {
                background-color: variables.$tracker-checked-hover;
            }
        }
        
        &:first-of-type {
            th, td {
                &:first-of-type {
                    border-radius: 1rem 0rem 0rem;
                }

                &:last-of-type {
                    border-radius: 0rem 1rem 0rem 0rem;
                }
            }
        }

        &:last-of-type {
            td {
                &:first-of-type {
                    border-radius: 0rem 0rem 0rem 1rem;
                }

                &:last-of-type {
                    border-radius: 0rem 0rem 1rem;
                }
            }
        }

        &.table-headers {
            cursor: default;
            height: 2.5rem;

            th {
                padding: 0rem 1rem;
            }
        }

        td {
            padding: 0.35rem 0.75rem;

            .info-holder {
                display: flex;
                align-items: center;

                &.centered {
                    justify-content: center;
                }

                span {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}